@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poppins|Roboto&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.card{
    background-color: #1a001a;
    background-clip: border-box;
    border: initial;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-radius: .28571429rem;
    height: 200px;
    width: 250px;
    position: relative;
    box-sizing: border-box;
}

.card-img-top{
    border-top-left-radius: .28571429rem;
    border-bottom-left-radius: .28571429rem;
}

.card-title{
    color: whitesmoke;
    text-align: center;
}

.card-text{
    color: whitesmoke;
}

.type-movie{
    text-align: left;
}

.stars-container{
    padding-top: 10px;
}

.card-body{
    width: 100%;
    height: 0px;
}

.card-image{
    background-color: rgb(250, 245, 245);
}

.card2{
    background-color: #f3f4f7da;
    opacity: .8;
    border-radius: 10px;
    height: 200px;
    width: 250px;
}

.cards-jr{
    background-color: #ffffffda;
    opacity: .8;
    border-radius: 10px;
    height: 200px;
    width: 50%;
    float: left;
}

.movie-title{
    text-align: center;
    color: black;
    padding-top: 10px;
}

.star{
    float: left;
}

.movie-type{
    align-content: inherit;
}