.body {
  background-color: #a8ddd8;
}

.cards-container {
    align-self: center;
}

.cards-frame {
  margin-left: 18px;
  margin-top: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  height: 202px; 
  width:400px;
  border-radius: 10px;
}


